# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/neura_links_club?retryWrites=true&w=majority

# Backend Server Port
PORT=5000

# Firebase Config
VITE_FIREBASE_API_KEY=AIzaSyC8WZkOZvcsR3W3ZU2rvXwGp9idiY8eLqU
VITE_FIREBASE_AUTH_DOMAIN=club-b35f3.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=club-b35f3
VITE_FIREBASE_STORAGE_BUCKET=club-b35f3.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1012598614314
VITE_FIREBASE_APP_ID=1:1012598614314:web:5eded22460f844f7439653
VITE_FIREBASE_MEASUREMENT_ID=G-2RC1QFGVSP
